.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .card {
    width: 0px;
    height: 200px;
    margin: 0 5px; 
  }
  
  .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .card-text {
    padding: 10px;
    background-color: rgba(241, 236, 236, 0.961);
    color: #090808;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .card-text h4,
  .card-text p {
    margin: 0;
  }
  
  .card-text h4 {
    font-size: 18px;
  }
  
  .card-text p {
    font-size: 14px;
    margin-top: 8px;
  }
  
  .card:last-child {
    margin-right: 0; 
  }